.picker {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    height: 800px;
    width: calc(100% - 100px);
    box-shadow: 0 4px 16px rgb(0 0 0 / 20%);
}

.picker__btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.info__header {
    margin-bottom: 10px;
}

.info__img {
    width: 100%;
}

.info__title {
    text-transform: uppercase;
    white-space: pre-line;
    text-align: center;
}

._align {
    justify-content: center;
}