.filters {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}

.filters__search {
    max-width: 500px;
    width: 100%;
    margin-right: 16px;
}

.filters__icon {
    color: rgba(0, 0, 0, 0.25);
    font-size: 12px;
    vertical-align: -1px;
    transition: color 0.3s;
}

.filters__icon:hover {
    color: rgba(0, 0, 0, 0.45);
}


.filters__select {
    width: 100px
}

.filters__button {
    width: 50px;
    vertical-align: unset;
}

._hidden {
    display: none;
}